@model FamilyInfoModel[]
<style>
.family-table {
    width: 100%
}
.family-table th {
border: 1px solid #9c9c9c;
padding: 8px 12px;
background: #4863A0;
}
.family-table td {
padding: 4px 8px;
border: 1px solid #25383C;
}
</style>

<h1>Family Information</h1>

<table border="1" class="family-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Family ID</th>
            <th>Age</th>
            <th>Birthday</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var family in Model)
        {
            <tr>
                <td>@family.Name</td>
                <td>@family.FamilyId</td>
                <td>@family.FamilyAge</td>
                <td>@family.FamilyBirthday</td>
            </tr>
        }
    </tbody>
</table>
